@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 dark:text-gray-100 bg-brand-light dark:bg-brand-dark transition-colors duration-300;
  }
}

/* Mesh Gradient */
.mesh-gradient {
  background-color: hsla(0, 100%, 50%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(125, 100%, 20%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(0, 100%, 37%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(120, 100%, 20%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 100%, 37%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(0, 0%, 0%, 1) 0px, transparent 50%);
  background-size: 200% 200%;
  animation: mesh 15s ease infinite;
}

@keyframes mesh {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glass-btn {
  @apply backdrop-blur-md bg-white/10 border border-white/20 text-white shadow-lg transition-all duration-300;
}

.glass-btn:hover {
  @apply bg-white/20 scale-105 shadow-kenya-red/50;
}